/* --------------------------------------------------------	*/
/* Spacer classes */
/* --------------------------------------------------------	*/

.spacer-inline {
    position: relative;
    display: inline-block;
    width:100%;
  }
  
  .spacer-block {
    position: relative;
    display: block;
    width:100%;
  }
  
  .spacer1 {
    height: 1px !important;
    
  }
  .spacer2 {
    height: 2px !important;
    
  }
  .spacer3 {
    height: 3px !important;
    
  }
  .spacer4 {
    height: 4px !important;
    
  }
  
  .spacer5 {
    height: 5px !important;
    
  }
    
  .spacer10 {
    height: 10px !important;
    
  }
    
  .spacer15 {
    height: 15px !important;
    
  }
    
  .spacer20 {
    height: 20px !important;
    
  }
  
  .spacer25 {
    height: 25px !important;
    
  }
    
  .spacer30 {
    height: 30px !important;
    
  }
  
  .spacer35 {
    height: 35px !important;
    
  }
    
  .spacer40 {
    height: 40px !important;
    
  }
    
  .spacer45 {
    height: 45px !important;
    
  }
    
  .spacer50 {
    height: 50px !important;
    
  }
  
  .spacer55 {
    height: 55px !important;
    
  }
  
  .spacer60 {
    height: 60px !important;
    
  }
  
  .spacer65 {
    height: 65px !important;
    
  }
    
  .spacer70 {
    height: 70px !important;
    
  }
  
  .spacer75 {
    height: 75px !important;
    
  }
  
  .spacer80 {
    height: 80px !important;
    
  }
  
  .spacer85 {
    height: 85px !important;
    
  }
  
  .spacer90 {
    height: 90px !important;
    
  }
  
  .spacer95 {
    height: 95px !important;
    
  }
  
  .spacer100 {
    height: 100px !important;
    
  }
  
  .spacer110 {
    height: 110px !important;
    
  }
  
  .spacer120 {
    height: 120px !important;
    
  }
  
  .spacer130 {
    height: 130px !important;
    
  }
  
  .spacer140 {
    height: 140px !important;
    
  }
  
  .spacer150 {
    height: 150px !important;
    
  }
  
  .spacer200 {
    height: 200px !important;
    
  }
  
  .spacer250 {
    height: 250px !important;
    
  }
  
  .spacer300 {
    height: 300px !important;
    
  }
  
  .spacer400 {
    height: 400px !important;
    
  }
  
  .spacer500 {
    height: 500px !important;
    
  }